@color_y:#e3ba10;
@color1:#333;
@color2:#999;
@color3:#ddd;
@bg:#f0f0f0;
@main-c:#ffcd33;
ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
ul,li{
	padding:0;
	margin:0;
}
.s-color2{
	color: @color2;
}
.f-np-l{
	padding-left: 0;
}
.f-np-r{
	padding-right: 0;
}
.f-pt-lg{
	padding-top: 40px;
}
.btn-app{
	color: @color1;
	background-color: @main-c;
	border-color: @main-c;
}
.btn-black{
	color: #fff;
	background-color: @color1;
	border-color: @color1;
	&:hover{
		color: #fff;
	}
	&:focus{
		color: #fff;
	}
}
.carousel-indicators li{
	background-color: @color2;
	border-color: @color2;
}
.carousel-indicators .active{
	background-color: @main-c;
	border-color: @main-c;
}
.m-login{
	background-color: @bg;
	.head{
		line-height: 22px;
		padding: 25px 20px 20px;
		border-bottom: 1px solid #fff;
		.more{
			.glyphicon{
				color: @color1;
				margin: 0 10px;
			}
		}
	}
	form{
		padding: 20px;
	}
	.input{
		width: 100%;
		height: 40px;
		line-height: 40px;
		border: 0;
		background-color: #fff;
		border-radius: 0;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	.qcode{
		height: 40px;
		background-color: #fff;
		margin-left: 10px;
	}
	.btn{
		border-radius: 0;
		letter-spacing: 24px;
	}
	.tips{
		margin-bottom: 10px;
		line-height: 23px;
    padding-left: 26px;
    background: url(../upload/dp.png) no-repeat left top;
	}
	.btns{
		.btn{
			position: relative;
			.glyphicon{
				position: absolute;
				top: 15px;
				right: 0;
			}
		}
	}
	.links{
		margin-top: 11px;
		a{
			margin-right: 18px;
			color: @color2;
			font-size: 12px;
		}
	}
}
.u-title {
	padding: 23px 20px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
	.bg {
		position: absolute;
		bottom: -1px;
		left: 40px;
	}
	.more {
		display: block;
		width: 26px;
		background: url(../upload/shuzi.png) no-repeat left center;
		height: 31px;
		line-height: 30px;
		text-align: center;
		font-weight: normal;
		font-size: 12px;
		color: #bbb;
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
.s-box {
	border: 1px solid #e2e2e2;
	&:hover {
		box-shadow: 0 0 4px #f1f1f1;
	}
}
.m-list-act{
	padding: 10px 0 10px 0;
	padding-right: 0;
	position: relative;
	.item{
		padding: 0 7px;
    margin-bottom: 10px;
		position: relative;
		img{
			max-width: 100%;
		}
		.btn {
			width: 142px;
			height: 33px;
			line-height: 33px;
			text-align: center;
			font-weight: bold;
			position: absolute;
			right: 30px;
			bottom: 10px;
			padding: 0;
		}
	}
	.more{
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	.aw{
		float: left;
		border-right: 1px solid #fff;
		width: 30px;
		height: 33px;
		line-height: 33px;
	}
	.btn{
		border-radius: 0;
	}
}
.m-list-news{
	.item{
		overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 70px;
    border-bottom: 1px solid #e2e2e2;
    height: 71px;
    font-weight: normal;
    padding: 0 20px;
	}
	.z-last{
		border-bottom: none;
	}
}
.f-fr{
	float:right;
}
.f-hd {
	display: none;
}
.f-ib{
	display: inline-block;
}
.f-tc{
	text-align: center;
}
.f-mb30{
	margin-bottom: 30px;
}
.s-color-y{
	color:@color_y;
}
.u-icon {
	display: inline-block;
	vertical-align: middle;
	background:url(../upload/icons.png) no-repeat;
}
.u-icon-logo{
	width:164px;
	height:30px;
	background-position: 0 0;
}
.u-icon-slogo{
	width:169px;
	height:60px;
	background-position: 0 -72px;
}
.u-icon-arrow_d{
	font-size: 12px;
	margin-left: 5px;
}
.u-icon-menu_d{
	font-size: 12px;
	margin-left: 5px;
	float: right;
}
.u-icon-td{
	width: 7px;
	height: 7px;
	background-position:-171px 0;
}
.u-icon-tips{
	width: 24px;
	height: 24px;
	background-position:-186px -24px;
}
.u-icon-tu{
	width: 19px;
	height: 6px;
	background-position:-280px -5px;
}
.u-aww{

}
.u-icon-tri{
	width:21px;
	height:11px;
	background-position: -215px -4px;
	position:absolute;
	left:50%;
	margin-left: -10px;
	top:26px;
}
.u-icon-wb{
	width: 38px;
	height: 38px;
	line-height: 40px;
	background-position: -34px -30px;
}
.u-icon-wx{
	width: 38px;
	height: 38px;
	line-height: 40px;
	background-position: 5px -30px;
}
.u-icon-qq{
	width: 38px;
	height: 38px;
	line-height: 40px;
	background-position: -73px -30px;
}
.u-icon-db{
	width: 38px;
	height: 38px;
	line-height: 40px;
	background-position: -112px -30px;
}
.u-code-wx{
	width:80px;
	height: 80px;
	display: inline-block;
	background: url(../upload/qcode_wx.png) no-repeat center;
}
.u-code-wb{
	width:80px;
	height: 80px; 
	display: inline-block;
	background: url(../upload/qcode_wb.png) no-repeat center;
}
.u-icon-r{
	font-size: 12px;
	// font-weight: bord;
	margin-top: 23px;
	margin-right: 19px;
	float: right;
}
.u-icon-head{
	width:76px;
	height:76px;
	background: url(../upload/head.png) no-repeat center;
}
.u-icon-lv{
	width:36px;
	height:42px;
	background: url(../upload/lv.png) no-repeat center;
}
.u-link-right{
	float:right;
}
.g-body{
	margin-top: 35px;
}
.m-title{
	background-color: #ededed;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}
.m-header{
	margin-top: 35px;
	// margin-bottom: 35px;
	border-bottom: 1px solid #eee;
	box-shadow: 0 3px 3px 0 #e7e7e7;
	.navbar{
		font-size: 16px;
		padding: 15px 0;
	}
	.lv1> a:hover {
		color: #111;
		border-bottom: 4px solid @main-c;
		// border-image: 3px;
		// text-decoration: none;
	}
	.lv1{
		display: inline-block;
	}
	.lv1> a{
		padding: 5px 0;
		margin: 0 30px;
		font-weight: bold;
		position: relative;
		color:#333;
		background-color: #fff;
	}
	.drop-menu {
		display: none;
		padding: 36px 0 0 0;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		position:absolute;
		z-index: 3;
		margin-left: -39px;
	}
	.drop-menu a {
		display: block;
		color: #fff;
		background-color: #333;
		font-size: 14px;
		width: 200px;
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #666;
		padding: 0 0 0 20px;
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
	.drop-menu a:hover {
		background-color: #fece00;
		.u-icon-r{
			background-position: -200px -4px;
		}
		
		color: #333;
		font-weight: bold;
	}
	.slogo{
		padding-right: 26px;
		border-right: 6px solid @main-c;
	}
}
.m-footer{
	background-color: #333;
	padding: 40px 0 30px;
	font-family: "Microsoft YaHei";
	color: #ddd;
	dt{
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 30px;
	}
	a,a:hover{ 
		color:#FFF;
		font-size: 14px;
	}
	.u-text{
		display: inline-block;
	}
	

}
.m-footer-copyright{
	background-color: #000;
	padding: 40px 0 30px;
	color:#ddd;
}
.m-personalInfo{
	background-color: @bg;
	margin-bottom: 40px;
	.top{		
		padding:12px 20px 12px 20px;
		line-height: 76px;
	}
	li{
		padding:12px 20px 12px 20px;
		border-bottom: 1px solid #fff;
	}
	.tt{
		width:120px;
		display:inline-block;
		margin-left: 12px;
	}
	.cc{
		color:#000;
		font-weight: border;
	}
	.tips_down{
		background-color: #ddd;
		text-align:center;
		font-weight: bold;
		margin:0;
	}
	a{
		color:#333;
	}
	a:hover{
		color:#111;
	}

}
.m-personalPad{
	background-color: @color3;
}
