// out: null
@color2:#999;
@color_y:#e3ba10;
.s-color2 {
  color: @color2;
}

.s-fsz12{
  font-size: 12px;
}
.s-fsz35{
  font-size: 35px;
}
.s-box {
  border: 1px solid #e2e2e2;
  &:hover {
    box-shadow: 0 0 4px #f1f1f1;
  }
  form{
    padding: 20px 0 10px 0;
  }
}
.s-color-y {
  color: @color_y;
}
.s-border-b {
  border-bottom: 1px dashed #e2e2e2;
}